<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dictation.mapper.BoardMapper"> 
	
	<!-- Insert a board -->
	<insert id="insert" parameterType="com.dictation.vo.BoardVO">
		insert into board(
			year,
			term,
			lecture_no,
			board_cd,
			no,
			seq_no,
			title,
			content,
			read_cnt,
			file_nm,
			save_file_nm,
			input_id,
			input_date,
			update_id,
			update_date
			
		) values(
			(select year from term_cd where use_yn=1),
			(select term from term_cd where use_yn=1),
			#{lecture_no},
			(select concat(dae_cd, so_cd) from so_cd where dae_cd=#{dae_b} and so_cd=#{so_b} and use_yn=1),
			#{no},
			(select nvl(max(seq_no),0)+1 from board ALIAS_FOR_SUBQUERY where no=#{seq_no}),
			#{title},
			#{content},
			#{read_cnt},
			#{file_nm},
			#{save_file_nm},
			#{input_id},
			#{input_date},
			#{update_id},
			#{update_date}
		)
	</insert>
 
 
 
 
	<!-- according to id Delete students -->
	<delete id="delete" parameterType="Hashmap">
		delete from board where no=#{no} and seq_no=#{seq_no}
	</delete>
	
	<!-- update after delete -->
	<update id="after_delete" parameterType="Hashmap">
		update board
		set
			seq_no=seq_no-1
		where
			no=#{no} and seq_no>=#{seq_no}
	</update>
 
	<!-- according to id Modifying Student Information-->
	<update id="update" parameterType="BoardVO">
		update board
		set
			year=#{year},
			term=#{term},
			lecture_no=#{lecture_no},
			board_cd=#{board_cd},
			no=#{no},
			seq_no=#{seq_no},
			title=#{title},
			content=#{content},
			read_cnt=#{read_cnt},
			file_nm=#{file_nm},
			save_file_nm=#{save_file_nm},
			input_id=#{input_id},
			input_date=#{input_date},
			update_id=#{update_id},
			update_date=#{update_date}
			
		where
			no=#{no} and seq_no=#{seq_no}
	</update>
	
	
 
	<!-- according to id query -->
	<select id="getById" parameterType="Hashmap" resultType="BoardVO">
		select
			year,
			term,
			lecture_no,
			board_cd,
			no,
			seq_no,
			title,
			content,
			read_cnt,
			file_nm,
			save_file_nm,
			input_id,
			input_date,
			update_id,
			update_date
		from
			board
		where
			no=#{no} and seq_no=#{seq_no}
	</select>
	
	
 
	<!-- Query all -->
	<select id="list" parameterType="int" resultType="com.dictation.vo.BoardVO">
		select
			year,
			term,
			lecture_no,
			board_cd,
			no,
			seq_no,
			title,
			content,
			read_cnt,
			file_nm,
			save_file_nm,
			input_id,
			input_date,
			update_id,
			update_date
		from
			board
	</select> 
	
	<select id="getFileNm" parameterType="String" resultType="String">
		select
			file_nm			
		from
			board
		where
			save_file_nm=#{save_file_nm}
	</select>
</mapper>

